/* VARIABLES */
:root {
    --color: #14213d;
    --secondColor: #aad3df;
    --thirdColor: white;
    --colorOld: #fca311;
    --size: 28px;
    --size2: 25px;
    --bold: bold;
    --sizing: border-box;
    --border: none;
    --borderRadius: 8px;
    --spacing: 1px;
    --cursor: pointer;
    --center: center;
}

/* MOBILE FIRST */
body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
.container-header {
    background-color: var(--secondColor);
    width: 100%;
    box-sizing: var(--sizing);
}

.container-header .title {
    color: var(--color);
    font-size: var(--size);
    font-weight: var(--bold);
    text-align: var(--center);
    padding: 10px 0px;
}

/* BOTONES REGISTRO / INICIO DE SESIÓN */
.section-user-btn {
    display: flex;
    justify-content: space-around;
}

.user-btn {
    background-color: var(--secondColor);
    box-shadow: 3px 3px 5px 0px var(--color);
    margin: 5px 0px 10px 0px;
    border: var(--border);
    width: 125px;
    padding: 8px;
    border-radius: var(--borderRadius);
    font-weight: var(--bold);
    cursor: pointer;
}

#logout-open {
    display: none;
}

.user-form-link {
    color: var(--color);
    text-decoration: none;
}

/* MAIN */
.container-main {
    background-color: var(--color);
    color: var(--thirdColor);
    width: 100%;
    box-sizing: var(--sizing);
}

.container-main > p {
    width: 90%;
    text-align: var(--center);
    margin: 15px auto;
    line-height: 19px;
}

#info-text a {
    color: var(--thirdColor);
}

/* LOS DOS MAPAS */
.section-maps {
    width: 100%;
    box-sizing: var(--sizing);
}

.section-maps h2 {
    color: var(--secondColor);
    font-size: var(--size2);
    font-weight: var(--bold);
    letter-spacing: var(--spacing);
    margin-left: 15px;
    margin-bottom: 5px;
}

#map, #filter-map {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border-radius: var(--borderRadius);
}

.leaflet-touch .leaflet-bar a {
    color: var(--secondColor);
    background-color: var(--color);
    opacity: 0.9;
}

.leaflet-container .leaflet-control-attribution {
    display: none;
}

.map-life, .map-history {
    margin-bottom: 15px;
}

/* FILTROS HISTORIAL DE TERREMOTOS */
.filter-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0px 5px 15px;
    box-sizing: var(--sizing);
}

#mag {
    margin-left: 80px;
    width: 126px;
}

#start-date {
    margin-left: 35px;
}

#end-date {
    margin-left: 51px;
}

.filter-form input, select {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid var(--secondColor);
    background-color: var(--color);
    color: var(--thirdColor);
}

#add-btn {
    width: 150px;
    align-self: center;
    color: var(--thirdColor);
    background-color: var(--color);
    box-shadow: 2px 2px 3px 0px var(--secondColor);
    margin: 5px 0px 10px 0px;
    padding: 8px;
    border: var(--border);
    border-radius: var(--borderRadius);
    font-weight: var(--bold);
    cursor: pointer;
}

/* POPUP - MAPAS */
.leaflet-popup-content-wrapper {
    width: 200px;
    height: 150px;
    overflow: scroll;
    background: #14213df7 !important;
}

.leaflet-popup-content {
    color: var(--thirdColor);
    margin: 0px;
}

.leaflet-popup-content p {
    margin: 10px 0px !important;
}

.popup-title {
    color: var(--secondColor);
    font-weight: var(--bold);
    border-bottom: 1px solid var(--thirdColor);
}

.popup-text span {
    color: var(--secondColor);
}

.leaflet-popup-close-button {
    color: var(--thirdColor) !important;
}

.fav-btn {
    width: 150px;
    align-self: center;
    color: var(--thirdColor);
    background-color: var(--color);
    box-shadow: 2px 2px 3px 0px var(--secondColor);
    margin: 5px 0px 10px 0px;
    padding: 8px;
    border: var(--border);
    border-radius: var(--borderRadius);
    font-weight: var(--bold);
    cursor: pointer;
}

.leaflet-popup-tip {
    background-color: var(--color) !important;
}

/* ESCALA DE MAGNITUDES */

.info {
    width: 120px;
    height: 295px;
    position: fixed;
    top: 280px;
    right: 4px;
    z-index: 999;
    box-sizing: var(--sizing);
    background-color: var(--color);
    border-radius: var(--borderRadius);
    opacity: 0.9;
    text-align: end;
}

#close-info {
    border: none;
    color: var(--thirdColor);
    background: transparent;
    font-weight: var(--bold);
    font-size: var(--size2);
}

.info h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: var(--bold);
    letter-spacing: var(--spacing);
}

.info ul {
    margin-top: 10px;
}

.info ul li {
    text-align: start;
}

.info ul li:not(.info ul li:first-child) {
    margin-top: 8px;
}

.info-element {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 60px;
    border: 1px solid black;
    font-size: 20px;
    margin: 0px 10px;
}

/* ESTILOS MODAL DE REGISTRO */
.section-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: var(--sizing);
    text-align: end;
}

#register-modal, #login-modal {
    display: none;
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: var(--sizing);
    background-color: var(--color);
    box-shadow: 2px 2px 1px 0px var(--thirdColor);
    border-radius: var(--borderRadius);
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-forms h3 {
    text-align: center;
    font-size: var(--size2);
    letter-spacing: var(--spacing);
    margin-bottom: 15px;
    font-weight: var(--bold);
    color: var(--secondColor);
}

.user-form input {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid var(--secondColor);
    background-color: var(--color);
    color: var(--thirdColor);
}

input:focus {
    outline: none;
}

.user-form label {
    text-align: start;
}

.section-forms button[type="submit"] {
    width: 150px;
    align-self: center;
    color: var(--thirdColor);
    background-color: var(--color);
    box-shadow: 2px 2px 3px 0px var(--secondColor);
    margin: 5px 0px 10px 0px;
    padding: 8px;
    border: var(--border);
    border-radius: var(--borderRadius);
    font-weight: var(--bold);
    cursor: pointer;
}

#register-close,
#login-close {
    border: none;
    color: var(--thirdColor);
    background: transparent;
    font-weight: var(--bold);
    font-size: var(--size2);
}

/* LISTA TERREMOTOS FAVORITOS */
#favorite-earthquake-section {
    width: 100vw;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.title-favorite {
    text-align: center;
    color: var(--secondColor);
    font-size: var(--size2);
    font-weight: var(--bold);
    letter-spacing: var(--spacing);
    margin-bottom: 15px;
}

#favorites-earthquake-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.alert-text-earthquake {
    width: 75%;
    padding: 5px;
    text-align: var(--center);
    font-weight: var(--bold);
    font-size: 17px;
    border-radius: var(--borderRadius);
    box-shadow: 0px 0px 4px 0px var(--secondColor);
    letter-spacing: var(--spacing);
}

.favorite-earthquake-article {
    width: 82%;
    border-radius: var(--borderRadius);
    box-shadow: 0px 0px 4px 0px var(--secondColor);
    padding: 10px;
}

.favorite-earthquake-title {
    font-size: 18px;
    color: var(--secondColor);
    font-weight: var(--bold);
    border-bottom: 1px solid var(--thirdColor);
    text-align: center;
    padding-bottom: 5px;
}

.favorite-earthquake-text {
    margin: 10px 0px;
}

.favorite-earthquake-link {
    display: block;
    color: var(--secondColor);
    font-weight: var(--bold);
    margin-bottom: 10px;
}

.favorite-earthquake-text span {
    color: var(--secondColor);
}

.delete-fav-btn {
    display: block;
    margin: 0 auto;
    padding: 8px;
    border: none;
    border-radius: var(--borderRadius);
    color: var(--thirdColor);
    background-color: var(--color);
    font-weight: var(--bold);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    box-shadow: 0px 1px 0px 0.2px var(--secondColor);
}


/* FOOTER */
.container-footer {
    width: 100%;
    height: 35px;
    background-color: var(--secondColor);
}

.profile-link {
    display: block;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    color: var(--color);
    font-weight: var(--bold);
    text-decoration: none;
}

/* ESTILOS TABLET */
@media(max-width: 950px) {
    .section-maps h2 {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    #map, #filter-map {
        height: 235px;
    }

    .filter-form {
        flex-direction: row;
        justify-content: center;
        column-gap: 25px;
        margin: 0 auto;
    }

    #mag, #start-date, #end-date {
        width: fit-content;
        margin-left: 0;
    }

    .info {
        right: 25px;
    }

    .favorite-earthquake-article {
        width: 50%;
    }
}

/* ESTILOS ORDENADOR */
@media(min-width: 951px) {
    .container-header .title {
        font-size: 38px;
    }

    .user-btn {
        width: fit-content;
        font-size: 18px;
        padding: 10px;
    }

    .container-main > p {
        width: 55%;
        font-size: 22px;
        line-height: 25px;
    }

    .section-maps h2 {
        width: 75%;
        font-size: 30px;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    #map, #filter-map {
        width: 75%;
        height: 275px;
    }

    .map-life {
        margin-bottom: 25px;
    }

    .filter-form {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
        margin: 0 auto;
    }

    #mag, #start-date, #end-date {
        width: fit-content;
        font-size: 18px;
        margin-left: 0;
    }

    .filter-label {
        font-size: 20px;
    }

    #add-btn {
        width: fit-content;
        padding: 8px 16px;
        font-size: 18px;
    }

    .info {
        right: 18px;
    }

    .info h3 {
        font-size: 20px;
    }

    .section-forms {
        align-items: center;
        column-gap: 20px;
    }

    .section-forms h3 {
        margin-bottom: 20px;
    }

    #register-modal, #login-modal {
        width: 35%;
        margin-bottom: 25px;
    }

    .user-form label {
        font-size: 20px;
    }

    .user-form input {
        padding: 8px;
        margin-bottom: 10px;
    }

    .user-form button[type="submit"] {
        font-size: 18px;
    }

    #favorites-earthquake-container {
        flex-flow: row wrap;
        gap: 20px;
    }

    .alert-text-earthquake {
        width: fit-content;
        padding: 10px;
        font-size: 20px;
    }

    .title-favorite {
        font-size: 30px;
    }

    .favorite-earthquake-article {
        width: 35%;
    }

    .profile-link {
        font-size: 20px;
    }
}