/* VARIABLES */
:root {
    --color: #14213d;
    --secondColor: #aad3df;
    --thirdColor: white;
    --colorOld: #fca311;
    --size: 25px;
    --size2: 22px;
    --bold: bold;
    --sizing: border-box;
    --border: none;
    --borderRadius: 8px;
    --spacing: 1px;
    --cursor: pointer;
    --center: center;
}

/* MOBILE FIRST */
body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100vw;
}

/* HEADER */
.container-header {
    background-color: var(--secondColor);
    width: 100%;
    box-sizing: var(--sizing);
}

.container-header h1 {
    color: var(--color);
    font-size: var(--size);
    font-weight: var(--bold);
    text-align: var(--center);
    padding: 10px 0px;
}

/* BOTONES REGISTRO / INICIO DE SESIÓN */

.section-user-btn {
    display: flex;
    justify-content: space-around;
}

.user-btn {
    background-color: var(--secondColor);
    color: var(--color);
    box-shadow: 3px 3px 5px 0px var(--color);
    margin: 5px 0px 10px 0px;
    border: var(--border);
    width: 125px;
    padding: 8px;
    border-radius: var(--borderRadius);
    font-weight: var(--bold);
    cursor: pointer;
}

/* MAIN */
.container-main {
    background-color: var(--color);
    color: var(--thirdColor);
    width: 100%;
    box-sizing: var(--sizing);
}

.container-main > p {
    width: 90%;
    text-align: var(--center);
    margin: 15px auto;
    line-height: 19px;
}

/* LOS DOS MAPAS */
.section-maps {
    width: 100%;
    box-sizing: var(--sizing);
}

.section-maps h2 {
    color: var(--secondColor);
    font-size: var(--size2);
    font-weight: var(--bold);
    letter-spacing: var(--spacing);
    margin-left: 15px;
    margin-bottom: 5px;
}

#map, #filter-map {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border-radius: var(--borderRadius);
}

.leaflet-touch .leaflet-bar a {
    color: var(--secondColor);
    background-color: var(--color);
    opacity: 0.9;
}

.leaflet-container .leaflet-control-attribution {
    display: none;
}

.map-life, .map-history {
    margin-bottom: 15px;
}

/* FILTROS HISTORIAL DE TERREMOTOS */
.filter-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0px 5px 15px;
    box-sizing: var(--sizing);
}

#mag {
    margin-left: 80px;
    width: 126px;
}

#start-date {
    margin-left: 35px;
}

#end-date {
    margin-left: 51px;
}

.filter-form input, select {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid var(--secondColor);
    background-color: var(--color);
    color: var(--thirdColor);
}

#add-btn {
    width: 150px;
    align-self: center;
    color: var(--thirdColor);
    background-color: var(--color);
    box-shadow: 2px 2px 3px 0px var(--secondColor);
    margin: 5px 0px 10px 0px;
    padding: 8px;
    border: var(--border);
    border-radius: var(--borderRadius);
    font-weight: var(--bold);
    cursor: pointer;
}

/* POPUP - MAPAS */
.leaflet-popup-content-wrapper {
    width: 200px;
    height: 150px;
    overflow: scroll;
    background: #14213df7 !important;
}

.leaflet-popup-content {
    color: var(--thirdColor);
    margin: 0px;
}

.leaflet-popup-content p {
    margin: 10px 0px !important;
}

.popup-title {
    color: var(--secondColor);
    font-weight: var(--bold);
    border-bottom: 1px solid var(--thirdColor);
}

.popup-text span {
    color: var(--secondColor);
}

.leaflet-popup-close-button {
    color: var(--thirdColor) !important;
}

.fav-btn {
    width: 150px;
    align-self: center;
    color: var(--thirdColor);
    background-color: var(--color);
    box-shadow: 2px 2px 3px 0px var(--secondColor);
    margin: 5px 0px 10px 0px;
    padding: 8px;
    border: var(--border);
    border-radius: var(--borderRadius);
    font-weight: var(--bold);
    cursor: pointer;
}

.leaflet-popup-tip {
    background-color: var(--color) !important;
}

/* ESCALA DE MAGNITUDES */

.info {
    width: 120px;
    height: 295px;
    position: fixed;
    top: 280px;
    right: 4px;
    z-index: 999;
    box-sizing: var(--sizing);
    background-color: var(--color);
    border-radius: var(--borderRadius);
    opacity: 0.9;
    text-align: end;
}

#close-info {
    border: none;
    color: var(--thirdColor);
    background: transparent;
    font-weight: var(--bold);
    font-size: var(--size2);
}

.info h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: var(--bold);
    letter-spacing: var(--spacing);
}

.info ul {
    margin-top: 10px;
}

.info ul li {
    text-align: start;
}

.info ul li:not(.info ul li:first-child) {
    margin-top: 8px;
}

.info-element {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 60px;
    border: 1px solid black;
    font-size: 20px;
    margin: 0px 10px;
}

/* ESTILOS MODAL DE REGISTRO */
.section-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: var(--sizing);
    text-align: end;
}

#register-modal, #login-modal {
    display: none;
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: var(--sizing);
    background-color: var(--color);
    box-shadow: 2px 2px 1px 0px var(--thirdColor);
    border-radius: var(--borderRadius);
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-forms h3 {
    text-align: center;
    font-size: var(--size2);
    letter-spacing: var(--spacing);
    margin-bottom: 15px;
    font-weight: var(--bold);
    color: var(--secondColor);
}

.user-form input {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid var(--secondColor);
    background-color: var(--color);
    color: var(--thirdColor);
}

input:focus {
    outline: none;
}

.user-form label {
    text-align: start;
}

.section-forms button[type="submit"] {
    width: 150px;
    align-self: center;
    color: var(--thirdColor);
    background-color: var(--color);
    box-shadow: 2px 2px 3px 0px var(--secondColor);
    margin: 5px 0px 10px 0px;
    padding: 8px;
    border: var(--border);
    border-radius: var(--borderRadius);
    font-weight: var(--bold);
    cursor: pointer;
}

#register-close,
#login-close {
    border: none;
    color: var(--thirdColor);
    background: transparent;
    font-weight: var(--bold);
    font-size: var(--size2);
}

/* FOOTER */
.container-footer {
    width: 100%;
    height: 35px;
    background-color: var(--secondColor);
}

.container-footer p {
    text-align: center;
    margin: 10px;
    color: var(--color);
    font-weight: var(--bold);
}